@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer
  }
}


.language {
  display: inline-block;
  padding: 4px 12px;
  background-color: #12383F;
  border-radius: 6px;
  color: #5CE7D1;
  font-size: 14px;
}


@media (min-width: 768px) {
  .card {
    -webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
    transform-style: preserve-3d;
    transform-origin:center;
    transform:perspective(900px) rotateY(25deg);
    transition:600ms;
  }

  .cards-container:hover .card {
    opacity: .3;
  }

  .cards-container .card:hover {
    transform:perspective(900px) rotateY(0deg);
    opacity:1;
  }

  
}



